* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*:focus {
  outline: 0;
}

// Typo
* {
  transition: 0.3s all linear;
}
html {
  scroll-behavior: smooth !important;
}

body {
  // background-color: #ffffff !important;
  background: #ffffff !important;
  font-family: $roboto;
  font-size: 14px;
  line-height: 28pxpx;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
  /* typoraphy */
  h1 {
    font-family: $Proxima;
    font-size: 54px;
    line-height: 64px;
  }
  section {
    padding: 80px 0;
    // @include bp(xl-max) {
    //   padding: 60px 0;
    // }
    // @include bp(lg-max){
    //   padding: 30px 0;
    // }
  }

  h2,
  h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    @include bp(md-max) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 28px;
    @include bp(lg-max) {
      font-size: 18px;
    }
  }

  .p1 {
    font-size: 22px;
    line-height: 32px;
    font-weight: normal;
  }
  .p2 {
    font-size: 18px !important;
    line-height: 28px;
    font-weight: normal;
    color: #3b3a3a;
    a {
      color: #0c3761;
      font-weight: 500;
      &:hover {
        color: #19c5e3;
      }
    }
    @include bp(xl-max) {
      font-size: 16px !important;
    }
    @include bp(lg-max) {
      font-size: 14px !important;
    }
  }

  input[type="submit"] {
    border: 1px solid #80dbd1 !important;
    border-radius: 10px !important;
    background-color: #80dbd1 !important;
    color: #fff !important;
    &:hover {
      background-color: #fff !important;
      color: #80dbd1 !important;
    }
  }
  .release-note-content,
  .error404 {
    .btn {
      box-shadow: 1px 1px 7px 0px #e1dfdf;
    }
  }

  .btn,
  input[type="submit"] {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-transform: uppercase;
    border: 0;
    font-size: 14px;
    padding: 10px 25px;
    background-color: #3cb4e7;
    border:1px solid #3cb4e7;
    border-radius: 10px;
    color: #fff;

    &.btn-white {
      background-color: #fff;
      color: #0f3764;
      & > span.effect {
        background-color: #3cb4e7;
      }
      &:hover {
        color: #fff;
        border-color: #3cb4e7;
      }
    }
    & > span.text {
      z-index: 2;
      position: relative;
    }
    & > span.effect {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #f7f7f7;
      transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  
    &:hover {
      color: #3cb4e7;
      background-color: #fff;
      span.effect {
        width: 225%;
        height: 562.5px;
      }
    }
    &:active {
      background-color: #5a6d4c;
    }
    &.btn-outline{
      background-color: #fff;
      color: #3cb4e7;
      &:hover {
        background-color: #3cb4e7;
        color: #fff;
      }
    }
  }
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  .gp-website:focus {
    color: #8fc069 !important;
  }

  .btn.btn-outline-primary {
    color: #8fc069;
    border-color: #8fc069;
    background-color: transparent;
  }
  .btn-outline-primary:hover {
    background-color: #8fc069;
    color: #fff;
    border-color: #8fc069;
  }
  .link {
    color: #969;
    font-size: 18px;
    @include bp(sm-max) {
      font-size: 16px;
      img {
        width: 16px;
      }
    }
  }

  .bgPrimary {
    background-color: #0c3761 !important;
  }
  .textPrimary {
    color: #0c3761;
  }
  .textSecondry {
    color: #3cb4e7;
  }
  // Media
  .title-heading {
    text-align: center;
    @include bp(sm-max) {
      margin-bottom: 20px;
    }

    h2 {
      color: #0c3761;
      font-size: 44px !important;
      margin-bottom: 50px;
      padding: 0 16px;
      line-height: 38px;
      display: inline-block;
      position: relative;
      font-weight: bold;
      span {
        font-weight: 500;
        color: #3cb4e7;
      }
      @include bp(lg-max) {
        font-size: 30px !important;
      }
      @include bp(sm-max) {
        font-size: 24px !important;
        padding-bottom: 10px;
        margin-bottom: 0;
      }
      @include bp(xs-max) {
        font-size: 20px !important;
        margin-bottom: 0;
      }
      .heading-border {
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100px;
        background-color: #99cccc;
        left: calc(50% - 50px);
        display: none;
      }
    }
    h3 {
      color: #414042;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 15px;
      @include bp(sm-max) {
        font-size: 16px;
      }
    }
  }

  // .Integrations-section{
  //   background: transparent linear-gradient(180deg, #FFFFFF 0%, rgba(153, 204, 204, 0.5) 100%) 0% 0% no-repeat padding-box;
  //   position: relative;
  //   overflow: hidden;

  //   .icon-box-content{
  //     text-align: center;
  //     font-size: 16px;
  //     margin-top: 30px;
  //   }
  //   .icon-box-list{
  //     width: 1130px;
  //     max-width: 100%;
  //     margin: auto;
  //     margin-top: 35px;
  //     z-index: 1;
  //     position: relative;

  //     & > div{
  //       margin: 15px 0;
  //     }
  //     .icon-box{
  //       padding: 30px;
  //       background-color: #fff;
  //       border-radius: 10px;
  //       box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.078);
  //       height: 100%;
  //       @include bp(sm-max){
  //         padding: 15px;
  //       }
  //        h3{
  //         margin-bottom: 20px;
  //         color: #0F3764;
  //         font-weight: 500;
  //        }
  //      }
  //   }
  //   .logo-list{
  //     padding-left: 0;
  //     list-style-type: none;
  //     display: flex;
  //     flex-wrap: wrap;
  //     justify-content: center;
  //     margin-top: 20px;

  //     li{
  //       width: 30%;
  //       text-align: center;
  //       padding: 7px;
  //       border: 1px solid #eee;
  //       margin: 5px;
  //       @include bp(md-max){
  //         width:50%;
  //       }
  //       img{
  //         width: 110px;
  //         height: 50px;
  //         object-fit: contain;
  //       }
  //     }
  //   }
  // }
  .bg-green-light {
    background-color: rgb(153 204 204 / 22%) !important;
  }
  .bg-green {
    background-color: rgb(204 230 230) !important;
  }
  .bg-light-blue {
    background-color: #f3f7fd !important;
  }
  .bordus-left-bottom {
    border-bottom-left-radius: 150px;
    @include bp(md-max) {
      border-bottom-left-radius: 30px;
    }
  }
  .bordus-left-top {
    border-top-left-radius: 150px;
    @include bp(md-max) {
      border-top-left-radius: 30px;
    }
  }
  .bordus-right-bottom {
    border-bottom-right-radius: 150px;
    @include bp(md-max) {
      border-bottom-right-radius: 30px;
    }
  }
  .bordus-right-top {
    border-top-right-radius: 150px;
    @include bp(md-max) {
      border-top-right-radius: 30px;
    }
  }
}

.circle-animation {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 24px);
  right: calc(50% - 24px);
}
.circle-animation .span1,
.circle-animation .span2,
.circle-animation .span3,
.circle-animation .span4 {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  // border: 1px solid rgba(0, 89, 105, 0.03);
  background-color: rgb(255 255 255 / 9%);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation: animloader 15s linear infinite;
}
.circle-animation .span2 {
  animation-delay: 4s;
}
.circle-animation .span3 {
  animation-delay: 8s;
}
.circle-animation .span4 {
  animation-delay: 12s;
}
@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(30);
    opacity: 0;
  }
}
.circle-animation.canim-2 {
  right: auto;
  left: -24px;
  top: 20%;
}
body {
  .accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #0d3862 !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  }
  .bg-gd-green-light {
    background: transparent linear-gradient(180deg, #fff 0, rgba(153, 204, 204, 0.5) 100%) 0 0 no-repeat padding-box;
  }
}
.TestingWhiz-content {
  padding: 80px 0 !important;
  .title-heading {
    h2 {
      color: #fff;
    }
    h3 {
      font-size: 18px;
      font-weight: normal;
    }
  }
}

.CTA-btn {
  &.btn-white {
    .btn {
      background-color: #fff;
      color: #969;
    }
  }
}
.discover-more {
  .contant {
    flex-wrap: wrap;
  }
  .btn {
    margin: 10px;
  }
}
.thankyou-banner {
  display: none;
  .banner-inner-content {
    .row {
      flex-wrap: wrap;
    }
    .d-flex {
      width: 100%;
      justify-content: center;
    }
    .col-lg-7 {
      width: 100%;
    }
    h1 {
      text-align: right;
    }
  }
  & {
    .banner-inner-content {
      background-position: 0 50px;
    }
  }
}

.error404 {
  .thankyou-banner {
    .banner-inner-content {
      padding: 0 30px;
    }
  }
  .contact-form-content {
    display: none;
  }
}
#st-1 {
  z-index: 0 !important;
}
video {
  @include bp(sm-max) {
    height: auto !important;
  }
}
.not-found-page {
  padding-top: 160px;
  padding-bottom: 120px;
}

.es_subscription_message.success {
  color: #008000;
  font-size: 18px;
  line-height: 1.6;
}
.title-white {
  .title-heading {
    h2,
    h3 {
      color: #fff !important;
    }
    h3 {
      width: 1200px;
      max-width: 100%;
      margin: auto;
      margin-bottom: 30px;
    }
  }
}
.thankyou-content {
  .icon {
    width: 100px;
    margin: auto;
    margin-top: 40px;
    @include bp(sm-max) {
      width: 60px;
      margin-top: 0;
    }
  }
  h3 {
    text-align: CENTER;
    font-size: 36px;
    margin: 38px 0 50px;
    color: #32bea6;
    line-height: 1.3;
    @include bp(sm-max) {
      font-size: 24px;
    }
  }
  .thy-content {
    width: 900px;
    max-width: 100%;
    margin: auto;
    padding: 20px 30px;
    border-radius: 14px;
    box-shadow: 0px 0px 4px 1px #f2f2f2;
    border-bottom: 5px solid #32bea6;
  }
}

.mobile-menu {
  display: none !important;
  @include bp(md-max) {
    display: block !important;
  }
}
.web-menu {
  display: inline-block !important;
  @include bp(md-max) {
    display: none !important;
  }
}

.grecaptcha-badge {
  z-index: 3;
}
.submit-button {
  margin-top: 20px;
  .custom-cf7-spinner {
    display: inline-block;
    position: relative;
  }
  input {
    margin-top: 0 !important;
  }
  .wpcf7-spinner {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    right: 0;
    bottom: 0;
    margin: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    &:before {
      left: calc(45% - 0px);
      top: calc(37% - 0px);
    }
  }
}

.menu-title {
  & > a {
    font-weight: 500 !important;
  }
}
.pointer-list {
  padding-left: 0;
  list-style-type: none;
  padding-left: 20px;
  margin-top: 40px;
  li {
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3;
    font-family: Roboto, sans-serif;
    @include bp(md-max) {
      font-size: 14px;
    }
    &::after {
      content: "";
      position: absolute;
      left: -20px;
      width: 6px;
      height: 6px;
      background-color: #3db5e5;
      border-radius: 50%;
      top: 8px;
    }
  }
}
ul.more-list-detail {
  padding-left: 0;
  list-style-type: none;
  padding-left: 20px;
  li {
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.3;
    font-family: $roboto;
    b {
      display: inline-block;
    }
    @include bp(sm-max) {
      font-size: 14px;
    }
    &:after {
      content: "";
      position: absolute;
      left: -20px;
      width: 6px;
      height: 6px;
      background-color: #3db5e5;
      border-radius: 50%;
      top: 8px;
    }
  }
}
.error404 {
  header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.148);
  }
  .not-found-page {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer {
    .footer-container {
      background-color: transparent;
    }
  }
}
p {
  color: #0D3461;
  @include bp(md-max) {
    margin-bottom: 15px !important;
  }
  @include bp(sm-max) {
    font-size: 14px !important;
  }
}
video {
  width: 800px;
  max-width: 100%;
}
// Floting menu
.home-menu {
  background-image: url("../../images/bg-menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  // background-color: #E4F8FF;
  // background-blend-mode: multiply;
  height: 1170px;
  video {
    opacity: 0.6;
  }
  br,
  p {
    display: none;
  }
  .container {
    max-width: 100%;
    padding: 0;
  }
}
.menu-section .drops {
  position: fixed;
  left: calc(50% - 30px);
  opacity: 1;
  transition: 1s all linear;
  z-index: 1;
  position: absolute;
  top: -120px;
  z-index: 2;
}
.menu-section .drops img {
  width: 60px;
}
.menu-section {
  /* background-color: rgba(0,0,0,0.2); */
  position: relative;
}
.point-circle {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 50px);
  top: -129px;
  box-shadow: 0px 0px 12px 0px #72eaff;
  z-index: 1;
}
.place-work-center {
  height: 160px !important;
  width: 160px !important;
  background-color: #fff;
  padding-top: 0;
  left: calc(50% - 80px);
  top: 90px;
  border-radius: 50%;
  opacity: 0;
  display: inline-block;
  position: absolute;
  text-align: center;
  transform: scale(0.4);
  .img-place {
    height: 160px !important;
    width: 160px !important;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
  }
}
.place-work-center img {
  width: 120px;
}
.bubble-center {
  width: 120px;
  height: 120px;
  position: absolute;
  left: calc(50% - 60px);
  top: 110px;
}
.menu-section .video-drop {
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
  bottom: 0;
  height: 1170px;
  width: 100%;
  overflow: hidden;
  video {
    width: 100%;
    position: absolute;
    top: -350px;
  }
}
.menu {
  list-style-type: none;
}
.menu a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.21);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: action1 3s infinite alternate;
  animation: action1 3s infinite alternate;
  font-size: 16px;
  padding: 10px;
  line-height: 1.5;
  background-image: linear-gradient(180deg, rgb(65, 191, 231, 0.65) 0%, rgb(13, 52, 97, 0.65) 100%),
    url("../../images/paper-analysis-min.jpg");
  background-size: cover;
  box-shadow: 0px 8px 40px #41bfe7f2;
  border: 1px solid #ffffff;
}
.menu li {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  left: calc(50% - 50px);
  top: 110px;
  opacity: 0;
}
.menu li:first-child,
.menu li:nth-child(3),
.menu li:nth-child(9) {
  width: 233px;
  height: 233px;
}
.menu li:nth-child(2),
.menu li:nth-child(4),
.menu li:nth-child(6),
.menu li:nth-child(8),
.menu li:nth-child(10) {
  width: 165px;
  height: 165px;
}
.menu li:nth-child(5) {
  width: 140px;
  height: 140px;
}
.menu li:nth-child(7) {
  width: 200px;
  height: 200px;
}
.menu li:nth-child(2) a {
  animation-delay: 1s;
}
.menu li:nth-child(4) a {
  animation-delay: 1.2s;
}
.menu li:nth-child(6) a {
  animation-delay: 1.3s;
}
.menu li:nth-child(8) a {
  animation-delay: 1.5s;
}
.menu li:nth-child(10) a {
  animation-delay: 1.8s;
}

@-webkit-keyframes action1 {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-10px);
  }
  100% {
    transform: translatex(10px);
  }
}

@keyframes action {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-10px);
  }
  100% {
    transform: translatex(10px);
  }
}
.wd-1200 {
  .container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    @include bp(xl-max) {
      width: 1024px;
    }
    @include bp(lg-max) {
      width: 940px;
    }
  }
}
.navy-blue-bg {
  background-color: #22618B;
}
.mid-ng-blue {
  background-color: #1b4b76;
}
.sky-blue-bg{
  background-color: #DBF3FB;
}
.home-contact-us {
  background: linear-gradient(190deg, rgba(62, 183, 223, 1) 0%, rgba(49, 149, 191, 1) 100%);
  br {
    display: none;
  }
  .content-cn {
    text-align: center;
    width: 634px;
    margin: auto;
    span {
      display: inline-block;
      width: 100%;
      padding: 40px;
      border-radius: 80px;
      color: #fff;
      font-size: 14px;
      position: relative;
      text-align: center;
      i {
        position: absolute;
        left: 0;
        right: 0;
        top: 11px;
        font-style: initial;
      }
    }
    a {
      background-color: #fff;
      display: inline-block;
      padding: 10px 15px;
      font-size: 14px;
      border-radius: 10px;
      color: #41bfe7;
      svg {
        width: 20px;
        height: 20px;
        fill: #41bfe7;
        path {
          fill: #41bfe7;
        }
      }
    }
    & > span {
      background-color: rgba(255, 255, 255, 0.02);
      & > span {
        background-color: rgba(255, 255, 255, 0.02);
        & > span {
          background-color: rgba(255, 255, 255, 0.05);
          & > span {
            background-color: rgba(255, 255, 255, 0.07);
          }
        }
      }
    }
    &:hover {
      & > span {
        background-color: rgba(255, 255, 255, 0.08);
        & > span {
          background-color: rgba(255, 255, 255, 0.08);
          & > span {
            background-color: rgba(255, 255, 255, 0.1);
            & > span {
              background-color: rgba(255, 255, 255, 0.2);
            }
          }
        }
      }
    }
  }
}
.contact-form-content {
  background: linear-gradient(190deg, #349ec7 0%, rgba(36, 115, 157, 1) 100%);
  .title-heading {
    h2 {
      color: #fff;
    }
  }
}
.circle-shape {
  position: relative;
  .container{
    position: relative; 
    z-index: 2;
  }
  .shape-bottom {
    position: absolute;
    left: 0;
    bottom: -82px;
    right: 0;
    overflow: hidden;
    height: 80px;
    background: #1b4b76;
    height: 280px;
    &::after {
      content: "";
      position: absolute;
      background-color: #22618b;
      top: 0px;
      left: -120px;
      right: -120px;
      bottom: 38px;
      border-radius: 50% / 0 0 100% 100%;
      z-index: 1;
    }
    // & > svg{
    //   width: 103%;
    //   position: relative;
    //   left: -1.5%;
    //   z-index: 1;
    //   fill: #22618b;
    //   path{
    //     fill:#22618b;
    //   }
    // }
  }
  &.shape-gray90{
    .shape-bottom {
      background-color: #fff;
      &::after {
        background-color: #fafafa;
      }
    }
  }
  &.mid-ng-blue{
    .shape-bottom {
      background-color: #22618b;
      &::after {
        background-color: #1b4b76;
      }
    }
  }
  &.Gray-white{
    .shape-bottom{
      background-color: #1b4b76;
      &::after{
        background-color: #e5e5e5;
      }
    }
  }
  &.sp-out-lgwhite{
    .shape-bottom {
      background-color: #fafafa !important;
    }
  }
  &.sp-out-white{
    .shape-bottom {
      background-color: #fff !important;
    }
  }
  &.sp-out-skyblue{
    .shape-bottom {
      background-color: #DBF3FB !important;
    }
  }
  &.sp-out-mid-ng-blue{
    .shape-bottom {
      background-color: #1b4b76 !important;
    }
  }
  &.sp-out-Gray-white{
    .shape-bottom {
      background-color: #e5e5e5 !important;
    }
  }
  

  &.sp-in-white{
    .shape-bottom{
    &::after {
      background-color: #ffffff;
    }
  }
  }
  &.sp-in-skyblue{
    .shape-bottom{
    &::after {
      background-color: #DBF3FB;
    }
  }
  }

}
.home-wwdo{
  & + .circle-shape {
    .shape-bottom {    
      background-color: #22618b;
      &::after {
        background: #1b4b76;
      }
    }
  }
}
.shape-aw-top{
  position: relative;
  padding-top: 240px;
  .shape-top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 203px;
    overflow: hidden;
    &::after{
      content: '';
      position: absolute;
      background-color: #fafafa;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    svg{
      width: 100%;    
      z-index: 1;
      position: relative;
      path{
        fill: #38a9d2;
      }
    }
  }

  &.shape-aw-top{
    .shape-top{
      &::after{
        background-color: #fff;
      }
      svg{
        path{
          fill: #3093bc;
        }
      }
    }
  }
  

}
.home {
  .contact-form-content {
    padding-top: 0;
    .shape-top{
      display: none;
    }
  }
}

.image-shape{
-webkit-mask-image: url(../../images/banner-img-shape.png);
  mask-image: url(../../images/banner-img-shape.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; 
  -webkit-mask-size: cover;
  mask-size: cover; 
  -webkit-mask-position: center center;
  mask-position: center center;
}
.gray90-bg{
  background-color: #fafafa
}
.Gray-white{
  background-color: #e5e5e5 ;
} 
.top-banner-margin{
  padding-top: 200px;
  margin-top: -154px;
}
.brand-vid {
  width: 800px;
  margin: auto;
  max-width: 100%;
}
.our-smart-philosophy-video{
  margin-top: -250px;
  z-index: 2;
  position: relative;
}
.tce-about-cygnet{
  padding-bottom: 240px;
}
.text-btn{
  color: #0c3761;
  font-weight: 500;
  margin-top: 30px;
  display: inline-block ;
  font-size: 14px;
  
  svg{
    width: 15px;
    height: 15px;
    fill: #0c3761;
    position: relative;
    left: 0;
    transition: .3s all linear;
    path{
      fill: #0c3761;
    }
  }
  &:hover{
    color: #19c5e3;
    svg{
      left: 5px;
      fill: #19c5e3;
      path{
        fill: #19c5e3;
      }
    }
  }
}
br{
  display: none;
}