.two-colum-layout .two-colum-content {
    display: flex;
    justify-content: space-between;
    @include bp(sm-max) {
        flex-wrap: wrap;
    }
    .brand-vid {
        border-radius: 20px;
        overflow: hidden;
    }
}
/* .two-colum-layout .title-heading{
    margin-bottom: 100px;
} */
.two-colum-layout.pos-left .two-colum-content {
    flex-direction: row-reverse;
    align-items: center;
    @include bp(sm-max) {
        flex-direction: column-reverse;
    }
}
.two-colum-layout .two-colum-content > div {
    width: 50%;
    @include bp(sm-max) {
        width: 100%;
    }
}

.two-colum-layout.cfr-tw-col-item.pos-left .two-colum-content .col-right {
    padding-right: 80px;
    padding-left: 0;
}
.two-colum-layout.cfr-tw-col-item.pos-left .two-colum-content .col-left {
    padding-left: 80px;
    text-align: left;
    padding-right: 0;
}
.two-colum-layout.cfr-tw-col-item .two-colum-content .col-right img {
    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.two-colum-layout.cfr-tw-col-item .two-colum-content img {
    width: 100%;
}
.two-colum-layout.cfr-tw-col-item .two-colum-content .col-right {
    padding-right: 0px;
    padding-left: 80px;
}
.two-colum-layout.cfr-tw-col-item .two-colum-content .col-left {
    padding-right: 80px;
    text-align: right;
}
.two-colum-layout .content-title-heading h2 {
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 40px;
    position: relative;
    color: #0c3761;
}
.two-colum-layout.left-title .two-colum-content .col-left {
    text-align: left;
}
.two-colum-layout.left-title .heading-border {
    left: 0;
    right: auto;
}

.two-colum-layout p {
    font-size: 14px;
    line-height: 28px;
}
.two-colum-layout .heading-border {
    right: 0;
    left: auto;
}
.two-colum-layout.pos-left .heading-border {
    left: 0;
    right: auto;
}
.two-colum-layout .title-heading .heading-border {
    left: calc(50% - 50px);
    right: unset;
}
.two-colum-layout.hdsb-sing-solution .two-colum-content .col-right img {
    margin-top: 51px;
    /* height: 400px; */
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 16%), 0 10px 10px rgb(0 0 0 / 16%);
}
.two-colum-layout.hdsb-sing-solution .two-colum-content .col-right {
    padding-left: 50px;
}
.two-colum-layout.hdsb-sing-solution .two-colum-content .col-left {
    padding-right: 50px;
}

.pc-great-place-work {
    .two-colum-content {
        & > .col-right {
            min-width: 550px;
            height: 338px;
            position: relative;
            border-radius: 104px;
            overflow: hidden;
            &::after {
                content: "";
                position: absolute;
                background-image: url(../../images/Great-place-to-work-logo.png);
                height: 115px;
                width: 65px;
                z-index: 1;
                top: 0;
                left: 72px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .col-left {
            min-width: calc(100% - 550px);
            padding-right: 65px;
            position: relative;
        }
    }
}
.pc-award {
    .two-colum-content {
        position: relative;
        padding: 0 30px;
        &::after {
            content: "";
            position: absolute;
            height: 110px;
            background: linear-gradient(to right, #0f80a2ad, #0f80a2ad),
                url(../../images/businesspeople-celebrating-success.png);
            left: 0;
            right: 0;
            border-radius: 54px;
            top: calc(50% - 55px);
            z-index: -1;
        }
        p {
            color: #fff;
        }
    }
}
.back-to-society {
    display: flex;
    align-items: center;
    br {
        display: none;
    }
    & > div {
        width: 50%;
        .album-content {
            width: 100%;
            .album-item {
                width: 50%;
                img {
                    height: 200px;
                    object-fit: cover;
                }
            }
        }
        &.col-right {
            padding-left: 50px;
            h2 {
                color: #0c3761;
                margin-bottom: 30px;
            }
        }
    }
}
.join-team {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        height: 110px;
        background: linear-gradient(to right, #0f80a2ad, #0f80a2ad),
            url(../../images/businesspeople-celebrating-success.png);
        left: 0;
        right: 0;
        border-radius: 0px;
        top: calc(50% - 115px);
        z-index: -1;
    }
    .join-team-content {
        position: relative;
        .content-item {
            display: flex;
            justify-content: space-between;
            padding-top: 150px;
            & > div {
                width: 50%;
                h2 {
                    margin-bottom: 40px;    
                    font-size: 32px;
                    color: #fff;
                }
                &:last-child {
                    padding-left: 150px;
                }
                &:first-child {
                    text-align: right;
                    padding-right: 150px;
                }
            }
        }
        &::after {
            content: "";
            position: absolute;
            height: 397px;
            background: url(../../images/chair.png);
            left: calc(50% - 193px);
            width: 391px;
            top: 9px;
            background-size: contain;   
            background-repeat: no-repeat;
        }
    }
}
.right-colum-img{
    .col-left{
        padding-right: 25px;
    }
    .col-right{
        padding-left: 25px;
        img{
            border-radius: 130px;
        }
    }
}
.left-colum-img{
    .col-right{
        padding-right: 25px;
        img{
            border-radius: 130px;
        }
    }
    .col-left{
        padding-left: 25px;
       
    }
}
.client-speak-vd{
    .two-colum-content{
        align-items: flex-start !important;
    }
    .col-right{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        padding: 15px;
        padding-bottom: 0;
      & > img{
            border-radius: 10px;
            height: 235px;
            width: 100%;
            object-fit: cover;
        }
        .about-client{
            padding: 30px 0;
            position: relative;
            .designation{
             color:#757575;
            }
            .play-video{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                i{
                    height: 45px;
                    width: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8px;
                    color: #fff;
                    background-color: #35aed4;
                    border: 1px solid #e2e2e2;
                    border-radius: 50%;
                }
            }
        }
    }
}